
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.bubble {
   --heightSize: 50px;
   --widthSize: 50px;
   height: var(--heightSize);
   width: var(--widthSize);
   border: 1px solid #000;
   border-radius: 50%;
}