
body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   overflow: hidden;
}

.bubble {
   --heightSize: 0;
   --widthSize: 0;
   --speed: 10s;
   cursor: crosshair;
   height: var(--heightSize);
   width: var(--widthSize);
   border: 1px solid #000;
   border-radius: 50%;
   position: absolute;
   bottom: 0;
   left: 0;
   animation-duration: var(--speed);
   animation-name: bubbleFlight;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
   animation-delay: 0s;
}

@keyframes bubbleFlight {
   from {
      bottom: 0;
      left: 50vw;
   }
   to {
      bottom: var(--bottom);
      left: var(--left);
   }
   

}